modules = ["nodejs-18", "python-3.11", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["bash", "file", "glibcLocales", "libxcrypt", "postgresql"]

[workflows]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
